*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.new-conv{
    font-size: 13px;
}
.chat_menu li{

    cursor: pointer;
    font-size: 13px;
}

.chat_menu li span{
    background-color: white;
}

.chat_menu .active{
    background-color: #F5F7FF;
    color: #0164D9;
    font-weight: 600;
}

